
body {
  background-color: #F8F8F8;
  box-sizing: border-box;
}

.ui-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.ui-header-section {
  padding: 1rem 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("./assets/images/herobackgroundimage.png") no-repeat center center fixed;
  min-height: 60vh;
  @media screen and (max-width: 480px) {
    background: none;
    background-color: #F8F8F8
  }
}

header {
  position: fixed;
  width: 90%;
  
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 480px) {
    display:none
  }
}

.navbar-menu li {
  margin: 0 1rem;
  list-style: none;
  text-decoration: none;
}

.navbar-menu a {
  text-decoration: none;
}

.vertical-nav {
  display:none;
  @media screen and (max-width: 480px) {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
  }
}

.vertical-navbar-menu {
  text-align: center;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto; 
}

.vertical-navbar-menu {
  list-style: none;
  margin-top: 2rem;
}

.vertical-navbar-menu li { 
  margin-top: 2rem;
}

.vertical-navbar-menu a {
  text-decoration: none;
}

.nav-link {
  border: none;
  color: #000000;
}

.active-link {
  color: #FF7008;
  border-bottom: #FF7008 2px solid;
}

.vertical-active-link {
  color: #FF7008;
}

.reactangle {
  position: relative;
  display: flex;
}

.inner-reactangle {
  background-color: #FF70084D;
  border: none;
  position: absolute;
  width: 1rem;
  height: 1rem;
}

.outer-reactangle {
  border: 1px solid #FF7008;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -5px;
  left: -5px;
}

.logo-container {
  display: flex;
  text-decoration: none;
}

.logo-text {
  margin-left: 1.5rem;
  display: inline-block;
}

.logo-text > span {
  color: #FF7008;
}

.hero-section {
  max-width: 30rem;
  bottom: 5rem;
  right: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  @media screen and (min-width: 480px) {
    max-width: 30rem;
    right: 0;
    position: absolute;
    top: 10rem;
    right: 5rem;
  }
}

.hero-text h1 {
  font-weight: 700;
}

.hero-text p {
  line-height: 1.5rem;
 }

.hero-text span{
  color: #FF7008;
}

.hero-btn {
  color: #FF7008;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.partners-section {
  padding: 1rem 3rem;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    /* flex-direction: column; */

  }
}

.partners-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
  }
}

.partner {
  margin: 1rem;
  width: 3rem;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    max-width: 2rem;
    margin-left: 0;
    width: 2rem;
  }
}

.partner-image {
  width: 100%
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.features-title {
  margin: 1rem 0;
  text-align: center;
}

.features-title > p {
  color: #FF7008;
  font-weight: 700;
}

.features-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;

  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.footer-section {
  background-color: #EAEAEA;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 3rem;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    flex-direction: column;

  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer-section > h3 {
  font-weight: 700;
}

.footer-section li {
  list-style: none;
  margin: 0;
  margin: 1rem 0;
}

.footer-section ul {
  margin: 0;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  color: #797979
}

.footer-btn {
  color: #fff;
  background-color: #FF7008;
  border: 1px solid #797979;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.footer-submit > input {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border: 1px solid #797979;
  background-color: #EAEAEA;
}

.footer-socials {
  border-bottom: 1px solid #797979;
  padding-bottom: 2rem;
  margin: 1rem 3rem;
  padding-left: 2rem;
}

.gravii {
  color: #FF7008;
}

.hamburger {
  background: none;
  border: none;
  padding: 0 1rem;
  @media screen and (min-width: 480px) {
    display: none;
  }
}

.copyright {
  margin-left: 3rem;
}
